.myNav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    text-decoration: none;
    padding: 25px;
    font-size: 18px;
    align-items: center;
    background: rgba(2, 0, 36,  0.6);
    position: sticky; top: 0;
    z-index: 5;
    
  }
  
  .myNav.open {
    flex-direction: column;
    align-items: flex-start;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .linksdiv {
    display: flex;
    flex-direction: row;
  }
  
  .navlinks {
    text-decoration: none;
    color: white;
    padding: 8px 20px;
  }
  
  .namelink {
    text-decoration: none;
    color: white;
    border: 1px solid #5efc8d;
    padding: 8px 20px;
    border-radius: 5px;
  }
  
  .menu-icon {
    display: none; /* Hide by default on larger screens */
    cursor: pointer;
  }
  
  .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 6px 0;
  }
  
  @media (max-width: 768px) {
    .menu-icon {
      display: block;
      
    }
    .myNav{
        justify-content: space-between;
    }
    
  .namediv.mobile-menu{
    position: absolute;
    left: 100px;
  }
    .linksdiv {
      display: none; /* Hide links on smaller screens */
      flex-direction: column;
      /* position: absolute;*/
      margin-top: 10px; 
      left: 0;
      background: rgba(2, 0, 36, 1);
      width: 100%;
      z-index: 1;
    }
  
    .linksdiv.mobile-menu {
      display: flex;
    }
  
    .myNav.open .bar:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .myNav.open .bar:nth-child(2) {
      opacity: 0;
    }
  
    .myNav.open .bar:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
  